# Flask 核心框架
Flask==3.1.1
Werkzeug==3.1.3
Jinja2==3.1.6
MarkupSafe==3.0.2
itsdangerous==2.2.0
click==8.2.1
blinker==1.9.0

# 数据库相关
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.41
Flask-Migrate==4.1.0
alembic==1.16.2
greenlet==3.2.3

# 用户认证
Flask-Login==0.6.3

# 表单处理
Flask-WTF==1.2.2
WTForms==3.2.1
email-validator==2.2.0

# Markdown 处理
markdown==3.8.2
Pygments==2.19.2

# 工具库
python-dateutil==2.9.0.post0

flask_caching
redis